// LIGHT

$body-color: #FFFFFF;
$page-color: #FFF;
$metronome-color: #999;

// $body-color: #f9ed6a;
// $page-color:#f9ed6a;
// $metronome-color: #ee3e41;



// @TODO
@media (max-width: 480) {
	body {
		min-width:480px;
	}
}

html, body {
	height:100%;
	background: $body-color;
	color: $metronome-color;
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:400;
}

header {
	position:absolute;
	top:0;
	left:0;
	padding:.5em;

	h1 {
		color:$metronome-color;
		margin:0;
		padding:0;
		font-size:1.5rem;
		font-weight:300;
		text-transform: uppercase;
		letter-spacing: -0.5px;
		& > span {
			font-weight:700;
			letter-spacing: -0.25px;
		}
	}
}



// .fill-height {
// 	height:100%;
// }
// .flex-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: stretch;
//     align-content: stretch;
// 	height: 100%;
// }
// .controls-container {
// 	background:green;
// }
// .metronome-container {
// 	flex:1;
// 	background:blue;
// }
// .beat-container {
// 	background:yellow;
// }



.metronome {
	border-style: solid;
	border-color: $metronome-color;
	border-radius:2px;
	overflow:hidden;

	.rod,
	.bob {
	    will-change: transform;
	}

	.base,
	.left,
	.right {
		// opacity:0.2;
	    background:$page-color;
	    border:2px solid $metronome-color;
	    border-bottom:0;
	    z-index:10;
	}

	.rod {
	    background: $metronome-color;
	}

	.bob {
		border: 1px solid $metronome-color;
		border-radius:2px;
		background:$body-color;
		z-index:12;
	}
}

.controls {
	$base-font-size: 18px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:100%;
	margin: 0 auto;
	padding:4px;
	border:1px solid $metronome-color;
	border-radius:2px;
	text-align: center;

	.start,
	.stop,
	.mute,
	.unmute {
		padding:0;
		margin:0;
		font-size:$base-font-size;
	    color: $metronome-color;
	    cursor:pointer;
	    &.hover {
	    	color: lighten($metronome-color, 5%);
	    }
	}

	.play,
	.stop {
		position: relative;
		top: 1px;
	}

	.mute,
	.unmute {
		position:relative;
		top:2px;
		font-size:$base-font-size + 4px; // Hacky
	}

	[name=bpm],
	[name=signature] {
		background-color: transparent;
	    border: 0px solid transparent;
		box-shadow: none;
		color: $metronome-color;
		outline: none;
	}

	[name=bpm] {
		width:2em;
		padding:0;
		margin:0;
		font-size:$base-font-size + 2px;
		text-align:right;
	} 
	[name=bpm] + span {
		position:relative;
		left:-1px;
		font-size:$base-font-size - 2px;
	} 
	[name=signature] {
		width:3em;
		padding:0;
		margin:0;
		font-size:$base-font-size + 1.5px;
	}


}

.beat-container {
	display: flex;
	flex-direction: column;
	width:100%;

	.bar {
		display: flex;
		flex-direction: row;
		flex-grow:1;
		margin-left:-2px;
		margin-right:-2px;
		
		.item {
			flex-grow:1;
		    border:2px solid $page-color;
		    cursor: pointer;

		    &.current > .beat {
		    	opacity:0.7;
			}

			&.accent {
				> .accent {
					opacity:1;
				}
			}

		    & > .beat {
		    	height:1.5em;
		    	width:100%;
		    	margin-bottom:.25em;
		    	border:2px solid $metronome-color;
		    	border-radius:2px;
		    	background:$metronome-color;

		    	
		    }

		    & > .accent {
		    	height:.25em;
		    	width:100%;
		    	border:2px solid $metronome-color;
		    	border-radius:2px;
		    	background:$metronome-color;
		    	opacity: 0.4;
		    }

		}

	}
}


.beat-controls {
	text-align:center;
	>.bar-add {
		display:inline-block;
		padding:.35rem .8rem;
		border:1px solid $metronome-color;
		border-radius:4px;
		font-size:0.9rem;
		text-transform: uppercase;

		cursor: pointer;

		&:hover {
			background: $metronome-color;
			color:#fff;
		}
	}
}

